<div class="navbar navbar-expand px-2">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Favoris", "#", class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Dashboard", owner_dashboards_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Chat", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "Profil", "#", class: "nav-link" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
